* {box-sizing: border-box}

body {
  max-width: 32rem;
  margin: auto;
  font-family: sans-serif;
  padding: 0 5px;
  line-height: 1.3rem;
}

hr {border: .5px solid black}

code, pre, textarea {
  color: rgb(14, 67, 117);
  background-color: rgb(244, 247, 250);
  font-size: 1rem;
}

pre {padding: 0 5px}

textarea {
  width: 100%;
  min-height: 12rem;
  resize: none;
  outline: none;
  font-family: monospace;
  border: none;
  border-left: 1px solid rgb(14, 67, 117);
  padding-left: 5px;
}

h4 {text-align: center}

button, input {
  font-size: 1rem;
  outline: none;
  background-color: rgb(244, 247, 250);
  border: none;
  padding: 8px;
  border-radius: 4px;
  display: block;
  margin: 5px auto;
  color: rgb(14, 67, 117);
}

button:hover {
  font-style: italic;
  background-color: rgb(244, 247, 250);
  cursor: pointer;
}

#output, #outputOriginal {
  margin: 0;
  display: inline;
  border-left: 1px solid rgb(14, 67, 117);
}

#output {
  float: right;
  width: 80%;
}

#outputOriginal {
  float: left;
  width: 20%;
}

a {color: rgb(14, 67, 117)}
