* {box-sizing: border-box}

body {
  max-width: 36rem;
  margin: auto;
  font-family: sans-serif;
  padding: 0 5px;
}

code, pre, textarea {
  color: rgb(14, 67, 117);
  background-color: rgb(244, 247, 250);
  font-size: 1rem;
}

pre {padding: 0 5px}

textarea {
  width: 100%;
  min-height: 12rem;
  resize: none;
  outline: none;
  font-family: monospace;
  border: none;
  border-left: 1px solid rgb(14, 67, 117);
  padding-left: 5px;
}

#output, #outputOriginal {
  margin: 0;
  display: inline;
  border-left: 1px solid rgb(14, 67, 117);
}

#output {
  float: right;
  width: 80%;
}
#outputOriginal {
  float: left;
  width: 20%;
}
